#rigthSide{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#d8dddd;
}

#rigthSide>div{
    background-color:rgb(255, 255, 255);
    height: 95%;
    width: 95%;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Khmer-Regular", Helvetica;
}

/* holders */
#rigthSide>div>div{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.holdC{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.holdDR{
    background-color: #85bab7;;
    color: aliceblue;
    font-weight: 600;
}


