.sides{
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: space-around;
    padding: 0 5%;
    gap: 48px;
    align-items: center;
    font-family: "Khmer-Regular", Helvetica;
}


.sides>div{
    margin-bottom: 3%;
}


#app{
    width: 60%;
    height: 80%;
    border-radius: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 3vh;
    margin-top: 10%;
    box-shadow: 2px 5px 15px #000000;

}
#upcomming{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
    background-color: #536767;
    color: white;
    border-radius: 40px 40px 0px 0px;
    font-weight: 600;
}

#appoitments{
    width: 85%;
    height: 10%;
    /* background-color: rgb(183, 212, 203); */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
    padding: 8%;
}

.current{
    width: 70%;
    height: 100%;
    background-color: #A0CDCF;
    border-radius: 40px;
    margin-right: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 4vh;
}
.current>div{
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.choose-button {
    background-color: #497d7a; /* Green */
    box-shadow: 2px 2px 15px #36726f73;
    border: none;
    color: white;
    padding: 5% 30%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4vh;
    margin: 10px 0;
    border-radius: 60px;
    cursor: pointer;
}

.choose-button:hover {
    background-color: #62c3b6;
    box-shadow: 5px 5px 15px #b8f7f4;
    transition: 0.5s;
}


