:root {
  --basics-white: rgba(255, 255, 255, 1);
  --primary000-54: rgba(0, 0, 0, 0.54);
  --primary-202124: rgba(32, 33, 36, 1);
  --button-primary-divider: rgba(24, 90, 188, 1);
  --primary000-5: rgba(0, 0, 0, 0.05);
  --buttonprimaryinitial: rgba(26, 115, 232, 1);
  --875em-medium-font-family: "Roboto", Helvetica;
  --875em-medium-font-weight: 500;
  --875em-medium-font-size: 14px;
  --875em-medium-letter-spacing: -0.14px;
  --875em-medium-line-height: 120.00000476837158%;
  --875em-medium-font-style: normal;
  --875em-regular-font-family: "Roboto", Helvetica;
  --875em-regular-font-weight: 400;
  --875em-regular-font-size: 14px;
  --875em-regular-letter-spacing: 0px;
  --875em-regular-line-height: normal;
  --875em-regular-font-style: normal;
}
