:root {
  --color-text-brand-on-brand: var(--color-primitives-brand-100);
  --color-border-disabled-default: var(--color-primitives-brand-400);
  --color-primitives-brand-100: rgba(245, 245, 245, 1);
  --color-primitives-brand-900: rgba(30, 30, 30, 1);
  --color-primitives-brand-400: rgba(179, 179, 179, 1);
  --size-space-200: 8px;
  --size-space-300: 12px;
  --size-radius-200: 8px;
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-color-mode="SDS-light">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-color-mode="SDS-light"] {
  --color-text-brand-on-brand: var(--color-primitives-brand-100);
}

[data-color-mode="SDS-dark"] {
  --color-text-brand-on-brand: var(--color-primitives-brand-900);
}
