.title{
    margin-top:3%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Khmer-Regular", Helvetica;
    font-size: 2vh;
}

.description1{
    display: flex;
    font-family: "Khmer-Regular", Helvetica;
    font-weight: 400;
    font-size: 2vh;
    letter-spacing: -2%;
    line-height: 100%;
    width: 35%;
    margin-left: 5%;
    margin-top: 3%;
}

.description{
    display: flex;
}


.heading{
    margin-top:3%;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Khmer-Regular", Helvetica;
    font-size: 2vh;
}

.healthy{
    display: flex;
    height: 20vh;
    margin-top: 3%;

}

.cont>div{
    position: relative;
    text-align: center;
}
.introduction{
    font-family: "Khmer-Regular", Helvetica;
    font-weight: 400;
    font-size: 2.5vh;
    letter-spacing: -2%;
    line-height: 100%;
}

/* .introduction>div{
    width: 60%;
} */


.first{
    width: 100%;
    height: 5%;
}

.bok{
    height: 20%;
    width: 100%;
}

/* .doctor{
    margin-top: 1vh;
    margin-right: 3vh;
    display: flex;
    align-items: right;
    justify-content: right;
    height: 10%;
    width: 10%;
} */