.title-2{
    margin-left: 10vh;
    font-family: "Khmer-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 36px;
    letter-spacing: -0.72px;
    line-height: 43.2px;
}

.text{
    display: flex;
    margin-top: 1vh;
    margin-left: 42vh;
    width: 30vh;
    font-family: "Khmer-Regular", Helvetica;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -0.40px;
    line-height: 24.0px;
}
.photo1{
    position:absolute;
    top: 32vh;
    left:100vh;
    width: 35vh;
    height: 18vh;
}
.photo2{
    position:absolute;
    left:70vh;
    top: 55vh;
    width: 57vh;
    height: 31vh;
}
.photo3{
    position:absolute;
    top: 15vh;
    left: 32vh;
    width: 30vh;
    height: 18vh;
}
.text2{
    position:absolute;
    top: 50vh;
    left: 80vh;
    font-family: "Khmer-Regular", Helvetica;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -0.40px;
    line-height: 24.0px;
}

.text3{
    position:absolute;
    margin-top: 10px;
    top: 27vh;
    left: 70vh;
    font-family: "Khmer-Regular", Helvetica;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -0.40px;
    line-height: 24.0px;
}


/*  */
#info>div{
    width: 100%;
    height: 29%;
    /* background-color: rgba(0, 0, 255, 0.182); */
    font-family: "Khmer-Regular", Helvetica;
    color: #62696A;
    text-shadow: 2px 2px 8.8px #00000040;
}

#info>div>h2{
    justify-self: center;
    font-size: 3vh;
    margin: 0;
}


.cont{
    height: 90%;
    width: 95%;
    /* background-color: rgba(121, 106, 189, 0.877); */
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 5%;
}

.txt{
    height: 15%;
    width: 100%;
    /* background-color: rgb(196, 168, 168); */
    display: flex;
    justify-content: start;
    align-items: center;
}
.txt>p{
    margin-left: 5%;
    font-size: 3vh;
}