.about-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.about-page .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1440px;
  height: 1780px;
  position: relative;
}

.about-page .overlap {
  position: absolute;
  width: 1441px;
  height: 1668px;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgb(202.46, 235.88, 235.88) 0%,
    rgb(81.17, 100.94, 100.94) 100%
  );
}

.about-page .overlap-group {
  position: absolute;
  width: 1152px;
  height: 1413px;
  top: 168px;
  left: 145px;
  background-color: #e4e4e4;
  border-radius: 81px;
}

.about-page .our-mission-is-to {
  position: absolute;
  width: 437px;
  height: 236px;
  top: 199px;
  left: 125px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #62696a;
  font-size: 32px;
  letter-spacing: -0.64px;
  line-height: 38.4px;
}

.about-page .text-wrapper {
  letter-spacing: -0.20px;
}

.about-page .istockphoto {
  position: absolute;
  width: 491px;
  height: 330px;
  top: 850px;
  left: 594px;
  object-fit: cover;
}

.about-page .meet-our-lead {
  position: absolute;
  width: 719px;
  height: 82px;
  top: 721px;
  left: 244px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #62696a;
  font-size: 48px;
  text-align: center;
  letter-spacing: -0.96px;
  line-height: 57.6px;
}

.about-page .our-mission {
  position: absolute;
  width: 719px;
  height: 82px;
  top: 30px;
  left: 238px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #62696a;
  font-size: 48px;
  text-align: center;
  letter-spacing: -0.96px;
  line-height: 57.6px;
}

.about-page .dr-figma-dedicated {
  position: absolute;
  width: 401px;
  height: 172px;
  top: 838px;
  left: 118px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #62696a;
  font-size: 36px;
  letter-spacing: -0.72px;
  line-height: 43.2px;
}

.about-page .span {
  letter-spacing: -0.26px;
}

.about-page .text-wrapper-2 {
  font-size: 24px;
  letter-spacing: -0.12px;
  line-height: 28.8px;
}

.about-page .image {
  position: absolute;
  width: 496px;
  height: 279px;
  top: 172px;
  left: 604px;
  object-fit: cover;
}

.about-page .overlap-2 {
  position: absolute;
  width: 1441px;
  height: 120px;
  top: 0;
  left: 0;
}

.about-page .rectangle {
  position: absolute;
  width: 1440px;
  height: 113px;
  top: 0;
  left: 0;
  background-color: #aecbcd;
}

.about-page .homepage-buttons {
  position: absolute;
  width: 1020px;
  height: 120px;
  top: 0;
  left: 421px;
}

.about-page .log-in {
  position: absolute;
  width: 120px;
  height: 38px;
  top: 44px;
  left: 660px;
  -webkit-text-stroke: 0.3px #000000;
  font-family: "Lohit Tamil-Regular", Helvetica;
  font-weight: 400;
  color: #575757;
  font-size: 24px;
  text-align: center;
  letter-spacing: -0.48px;
  line-height: 28.8px;
}

.about-page .sign-up {
  position: absolute;
  width: 120px;
  height: 38px;
  top: 44px;
  left: 780px;
  -webkit-text-stroke: 0.3px #000000;
  font-family: "Lohit Tamil-Regular", Helvetica;
  font-weight: 400;
  color: #575757;
  font-size: 24px;
  text-align: center;
  letter-spacing: -0.48px;
  line-height: 28.8px;
}

.about-page .home {
  position: absolute;
  width: 120px;
  height: 38px;
  top: 44px;
  left: 900px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 0.3px #000000;
  font-family: "Lohit Tamil-Regular", Helvetica;
  font-weight: 400;
  color: #575757;
  font-size: 24px;
  text-align: center;
  letter-spacing: -0.48px;
  line-height: 28.8px;
}

.about-page .group {
  position: absolute;
  width: 617px;
  height: 100px;
  top: 10px;
  left: 15px;
}

.about-page .overlap-group-2 {
  position: relative;
  width: 614px;
  height: 100px;
}

.about-page .hedgehog-inc {
  position: absolute;
  width: 548px;
  height: 76px;
  top: 15px;
  left: 66px;
  text-shadow: 7px 10px 8.8px #00000040;
  -webkit-text-stroke: 1px #000000;
  font-family: "Khmer-Regular", Helvetica;
  font-weight: 400;
  color: #575757;
  font-size: 48px;
  text-align: center;
  letter-spacing: 8.64px;
  line-height: 57.6px;
}

.about-page .file {
  position: absolute;
  width: 103px;
  height: 100px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.about-page .component-wrapper {
  position: absolute;
  width: 1440px;
  height: 112px;
  top: 1668px;
  left: 0;
  background-color: #aecbcd;
}

.about-page .component {
  position: relative;
  width: 273px;
  height: 76px;
  top: 18px;
  left: 606px;
}

.about-page .ABOUT-us {
  position: absolute;
  width: 129px;
  height: 76px;
  top: -1px;
  left: 0;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Lohit Tamil-Regular", Helvetica;
  font-weight: 400;
  color: #575757;
  font-size: 24px;
  text-align: center;
  letter-spacing: -0.48px;
  line-height: 28.8px;
}

.about-page .text-wrapper-3 {
  position: absolute;
  width: 103px;
  height: 76px;
  top: -2px;
  left: 169px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #000000;
  font-family: "Lohit Tamil-Regular", Helvetica;
  font-weight: 400;
  color: #575757;
  font-size: 24px;
  text-align: center;
  letter-spacing: -0.48px;
  line-height: 28.8px;
}
