.sides{
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: space-around;
    padding: 0 5%;
    gap: 48px;
    align-items: center;
    font-family: "Khmer-Regular", Helvetica;
}


.sides>div{
    margin-bottom: 3%;
}


#app{
    width: 60%;
    height: 80%;
    border-radius: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2vh;
    margin-top: 10%;
}
#upcomming{
    width: 100%;
    height: 10%;
    /* background-color: bisque; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
}

#appoitments{
    width: 85%;
    height: 10%;
    /* background-color: rgb(183, 212, 203); */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
}

.current{
    width: 70%;
    height: 100%;
    background-color: #A0CDCF;
    border-radius: 40px;
    margin-right: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 4vh;
}
.current>div{
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
}



